services:
  undernet-prod:
    build: .
    container_name: undernet-prod
    restart: always
    networks:
      - traefik-public
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.undernet.rule=Host(`undernet.earth`) || Host(`www.undernet.earth`)"
      - "traefik.http.routers.undernet.entrypoints=web"
      - "traefik.http.services.undernet.loadbalancer.server.port=80"

networks:
  traefik-public:
    external: true
